In [2]:
 ## 1. How do we create numerical variables in python?

In [4]:
pi=3.14159
diameter=3

In [5]:
type(pi)

float

In [6]:
type(diameter)

int

In [7]:
## 2. How do we perform calculations in python?

In [14]:
n=int(input('enter a number: '))
a=n/2
print(a)

enter a number: 15
7.5

In [10]:
def radius(a):
    radius=a/2
    print(radius)

In [18]:
radius(10)

5.0

In [19]:
def area(n):
    pi=22/7
    area=pi*n*n
    print(area)

In [22]:
area(2)

12.571428571428571

In [23]:
## 3. Give an example of BODMAS in python?

In [25]:
def niru(a,b,c):
            d=(a-b)*c-(a+b)
            print(d)

In [26]:
niru(3,2,8)

3

In [38]:
##4. Give examples of list?
x = [int(x) for x in input("Enter multiple value: ").split()]

Enter multiple value: 2 3 4 5

In [39]:
x

[2, 3, 4, 5]

In [40]:
len(x)

4

In [41]:
p=[1,[6,7,8],10]

In [42]:
len(p)

3

In [43]:
a=[]

In [44]:
len(a)

0

In [46]:
d = [1, 2, 3][1:]

In [47]:
len(d)

2

In [48]:
##5. How do we interchange the values of two lists?

a = [1, 2, 3]
b = [3, 2, 1]
a,b=b,a

In [49]:
print(a,b)

[3, 2, 1] [1, 2, 3]

In [50]:
##6. How do we extract values from list?

camera=['nikon','sony','canon','fuji']

In [52]:
camera[2]

'canon'

In [53]:
camera[-2]

'canon'

In [59]:
##7. How we create loops in python using list?

def greater_fun(a,b,c):
    if a>b and a>c:
        print(a,'is greatest')
    elif b>a and b>c:
        print(b,'is greatest')
    else:
        print(c,' is greatest')

In [60]:
greater_fun(8,10,7)

10 is greatest

In [75]:
def elementwise_greater_than(L, thresh):
    res = []
    for ele in L:
        if ele > thresh:
            res.append(thresh)
    return res

In [76]:
elementwise_greater_than([1,2,3,4],2)

[2, 2]

In [77]:
def fun(l):
    res=[]
    for i in l:
        if i>l :
            res.append()
    return res

In [82]:
a=[2,8,9,6,4]

In [83]:
a

[2, 8, 9, 6, 4]

In [85]:
a.sort()

In [86]:
a

[2, 4, 6, 8, 9]

In [87]:
a[-1]

9

In [ ]:
## 8. Give examples of String?

In [1]:
a = 'Welcome to python'

In [2]:
a

'Welcome to python'

In [6]:
len(a)

17

In [ ]:
## 9. Give an example of Boolean?

In [13]:
b=print((1!=0))

True

In [15]:
## 11. What are function in python?

In [21]:
def round_num(c):
    return round(c,2)

In [22]:
round_num(10.87654)

10.88

In [23]:
## 12. Calculating remainder in python?

In [26]:
x=10//2

In [27]:
x

5

In [28]:
## 13. What is lambda in Python?

In [78]:
def doub(x):
    return x*2
doub(5)

10

In [11]:
## 14.What is slicing?

In [16]:
a=[1,2,3,4,5]

In [17]:
a[0:2]

[1, 2]

In [18]:
a[-2]

4

In [19]:
## 15.How you can convert a number to a string?

In [22]:
c=1

In [23]:
type(c)

int

In [24]:
str(c)

'1'

In [ ]:
## 16. What is range function?

In [28]:
x=range(3,6)
for n in x:
    print(n)

3
4
5

In [29]:
## 17.How do you generate random numbers in Python?

In [30]:
import random

In [32]:
print (random.randint(0,5))

3

In [33]:
## 18.What is the use of the split function in Python?

In [34]:
n="Welcome to python"

In [36]:
n.split()

['Welcome', 'to', 'python']

In [37]:
## 19.How would you convert a list to an array?

In [38]:
import numpy as np

In [47]:
a=[2,4,5,6,7]
x=np.array(a)
print(x)

[2 4 5 6 7]

In [ ]:
## 20.What is dictionary comprehension in Python?

In [62]:
l={'a':1,'b':3,'c':4}

In [63]:
l.items()

dict_items([('a', 1), ('b', 3), ('c', 4)])

In [64]:
## 21.How would you sort a dictionary in Python?

In [67]:
import operator

In [69]:
sorted(l)

['a', 'b', 'c']

In [70]:
## 22.How do you reverse a string in Python?

In [71]:
n='Hello world'

In [74]:
n[::-1]

'dlrow olleH'

In [102]:
## 23.How to create dataframe from list?

In [120]:
import pandas as pd

In [121]:
d1={'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}

In [124]:
df1=pd.DataFrame(d1)

In [125]:
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [132]:
df1.loc(0)